.hero {
  width: 100%;
  height: auto;
}


body {  /* INFO ABOUT THE BODY & BACKGROUND IMG */
  background-image: url('https://wallpapercave.com/wp/qLTbw4G.jpg');
  background-repeat: no-repeat;
  background-color:black;
  background-attachment: fixed;
  background-size: 100% 100%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  width:100vw;
} 



.about{
  color:black;
  background-color:white;
  font-size:15px;
  margin-top:50px;
}

h2{
  color:white;
  
}

.well{
  color:rgb(214, 166, 6);
  background-color: rgba(17, 3, 18, 0.7);
}


#header{
  color:rgb(212, 133, 14);
 
}