<h1 class =comment>Comments</h1>
<div id="comments">
      <% comments.forEach(function(comment) { %>
        <br>
        <div> <%=comment.content %> </div>
        <div> Comment Written by:<%=comment.name %></div>
      <% }) %>
  </div>


